@use "./abstracts/colors";

body{
    min-height: 100vh;
    padding: 4rem;
    background: linear-gradient(to bottom, #83a4d4, #b6fbff);
    display: flex;
    justify-content: center;
    align-items: center;
}